@import url("../themes.css");

.designs main {
  color: white;
  margin-left: 600px;
}
/* webkit geht nur in chrome */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--fächer-green-color);
}

.designs #designNav {
  background-color: var(--nav-selected-color);
  cursor: pointer;
  color: var(--schrift-color);
}

#überschriftDesign{
    margin-left: 20pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
}
#buttonsDesign{
    margin-left: 20pt;
    margin-bottom: 20pt;
}

#dunkel{
    margin-right: 20pt;
}
#hell{
    margin-right: 20pt;
}
#normal{
}
