body {
  font-style: italic;
  font-family: "Bahnschrift";
  background-color: #d4ffeb;
}

h1 {
  font-weight: bold;
  font-size: 30pt;
}

.entries {
  list-style: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
nav {
  background-color: #339d83;
  color: white;
  border: 0px solid #36554d;
  border-bottom-width: 3px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: -3px;
  display: flex;
}

nav li {
  padding: 1em;
  margin: 0;
}

nav li:hover {
  background-color: #505050;
  border: 0px solid #b3fac8;
  cursor: pointer;
}
