html {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  font-family: "Montserrat";
  font-size: 12pt;
  background-image: url(https://gamespot1.cbsistatic.com/uploads/screen_kubrick/416/4161502/2309269-tribute_to_journey_by_matou31-d5um8hb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Titillium Web";
  font-size: 30pt;
  color: white;
  text-transform: uppercase;
  font-size: bold;
  margin-top: 30pt;
  margin-left: 10pt;
}

h3 {
  font-family: "Titillium Web";
  font-size: 20pt;
  text-transform: uppercase;
}

nav {
  margin-top: 60pt;
}

nav ul {
  color: white;
  font-weight: bold;
  display: block;
  display: flex;
  flex-direction: column;
  float: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  position: relative;
  font-size: 18pt;
  padding: 90px;
  text-align: center;
}

nav li:hover {
  background-color: rgba(121, 148, 141, 0.5);
  cursor: pointer;
  font-style: oblique;
}

nav li:active {
  background-color: #d4ffeb;
  color: black;
}

main {
  position: relative;
  margin-left: 270pt;
  color: white;
  margin-top: 60pt;
  margin-right: 20pt;
  width: 900px;
}

button {
  border: none;
  color: white;
  background-color: var(--dark-green-less-transparent-color);
  cursor: pointer;
}

button.delete {
  background-color: var(--dark-green-less-transparent-color);
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 0.5em;
}
button.saveAndBack {
  background-color: var(--dark-green-less-transparent-color);
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 2px solid var(--dark-green-color);
  border-top: 2px solid var(--dark-green-color);
  border-left: 2px solid var(--dark-green-color);
  border-right: 2px solid var(--dark-green-color);
  border-radius: 0.5em;
}
button.add {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 14rem;
  height: auto;
}
button.add .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 1.625rem;
}
button.add .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.add .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.add .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.add .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.85rem 0;
  margin: 0 0 0 0.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
button.gelb {
  width: 250px;
  height: 250px;
  background: url("./images/Gelb.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-bottom: 2px solid var(--dark-green-color);
  border-top: 2px solid var(--dark-green-color);
  border-left: 2px solid var(--dark-green-color);
  border-right: 2px solid var(--dark-green-color);
  border-radius: 0.5em;
}
button.rot {
  width: 250px;
  height: 250px;
  background: url("./images/Rot.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-bottom: 2px solid var(--dark-green-color);
  border-top: 2px solid var(--dark-green-color);
  border-left: 2px solid var(--dark-green-color);
  border-right: 2px solid var(--dark-green-color);
  border-radius: 0.5em;
}
button.braun {
  width: 250px;
  height: 250px;
  background: url("./images/Braun.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-bottom: 2px solid var(--dark-green-color);
  border-top: 2px solid var(--dark-green-color);
  border-left: 2px solid var(--dark-green-color);
  border-right: 2px solid var(--dark-green-color);
  border-radius: 0.5em;
}
button:hover.rot {
  transform: scale(1.02);
}
button:hover.gelb {
  transform: scale(1.02);
}
button:hover.braun {
  transform: scale(1.02);
}

.hidden {
  display: none;
}

.remove {
  margin: 13px;
  display: inline;
}

.edit {
  margin: 13px;
  display: inline;
}

.entries li {
  margin: 20pt;
  width: 290pt;
  list-style: none;
}
