body {
  font-family: "Montserrat";
  font-size: 12pt;
  background-image: url("./images/journey.jpg");
}

h1 {
  font-family: "Titillium Web";
  font-size: 29pt;
  color: white;
  text-transform: uppercase;
  font-size: bold;
  margin-top: 30pt;
  margin-left: 15pt;
}

h3 {
  font-family: "Titillium Web";
  font-size: 20pt;
  text-transform: uppercase;
}

nav {
  margin-top: 60pt;
}

nav ul {
  color: white;
  font-weight: bold;
  display: block;
  width: 300px;
  height: 505px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  position: relative;
  font-size: 18pt;
  padding: 87px;
}

nav li:hover {
  background-color: rgba(121, 148, 141, 0.5);
  cursor: pointer;
  color: black;
}

nav li:active {
  background-color: #d4ffeb;
  color: black;
}

main {
  display: block;
  margin-left: 270pt;
  text-align: center;
  color: white;
  /*background-color: #608078;*/
  margin-top: 60pt;
  margin-right: 20pt;
  width: 1400px;
}

button {
  border: none;
  color: white;
  background-color: #374a45;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

.hidden {
  display: none;
}

.remove {
  margin: 13px;
  display: inline;
}

.edit {
  margin: 13px;
  display: inline;
}

.entries li {
  margin: 5pt;
  width: 290pt;
  height: 150pt;
  display: inline-grid;
}
