body {
  font-family: "Montserrat";
  font-size: 12pt;
  background-image: url("./images/journey.jpg");
}

h1 {
  font-family: "Titillium Web";
  font-size: 27pt;
  background-color: #608078;
  color: white;
  text-transform: uppercase;
  font-size: bold;
  text-align: center;
}

h3 {
  font-family: "Titillium Web";
  font-size: 20pt;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.entries li {
  margin: 5pt;
  width: 290pt;
  height: 150pt;
  display: inline-grid;
}

nav {
  list-style: none;
  background-color: #608078;
  color: white;
  border: 0px solid #36554d;
  border-bottom-width: 3px;
  display: block;
  width: 200px;
}

nav ul {
  margin: 0;
  padding: 0;
  margin-bottom: -3px;
}

nav li {
  padding: 1em;
  margin: 0;
}

nav li:hover {
  background-color: #d4ffeb;
  border: 0px solid #b3fac8;
  cursor: pointer;
  color: black;
}

button {
  border: none;
  color: white;
  background-color: #374a45;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}
