html {
  --dark-green-color: rgb(33, 51, 40);
  --dark-green-color: rgb(55, 74, 69, 0.8);
  --dark-green-transparent-color: rgba(121, 148, 141, 0.7);
  --dark-green-transparent-color-hover: rgb(121, 148, 141);
  --dark-green-transparent-color-hover-medium: rgb(147, 175, 168);
  --dark-green-transparent-color-hover-light: rgb(174, 202, 195);
  --dark-green-less-transparent-color: rgba(121, 148, 141, 0.9);
  --light-green-hover-color: rgb(212, 255, 235);
  --nav-selected-color: rgba(119, 149, 145);
  --fächer-green-color: rgb(94, 123, 119, 0.7);
  --fächer-dark-green-color: rgba(70, 98, 95);
}
