@import url("../themes.css");

.aufgaben main {
  color: white;
  text-align: center;
}

#aufgabenList{
    margin: 10pt;
}

#kastenAußen{
    margin: 15pt;
}

#kastenInnen{
    font-size: 12pt;
    text-transform: uppercase;
    background-color: var(--dark-green-transparent-color);
    border: 2px solid var(--dark-green-color);
}

#fach {
    padding: 10pt;
}

#todo {
    border-top: 2px solid var(--dark-green-color);
    padding: 10pt;
}

#tageBisFällig {
    display: inline;
    padding: 10pt;
    font-style: italic;
    font-size: 15pt;
}

#buttons {
    padding: 10pt;
}

#addAufgabe {
    margin-left: 70pt;
}

.aufgaben #aufgabenNav {
  background-color: var(--nav-selected-color);
  cursor: pointer;
  color: black;
}
