.aufgaben main {
  background-color: #608078;
  color: white;
}

.neueAufgabe main {
  background-color: #608078;
  color: white;
}
#fach {
  font-size: 15pt;
  margin-top: 20pt;
  text-transform: uppercase;
  height: 30px;
  width: 300px;
}
#aufgabenBlock {
  border-top-color: #374a45;
  border-top-style: solid;
}
#aufgabenList li:hover {
  border-style: solid;
  border-color: #d4ffeb;
  cursor: pointer;
  border-width: 2px;
}
#todo {
  margin-top: 10pt;
  font-size: 14pt;
  padding: 5px;
  margin-bottom: 10pt;
}

#tageBisFällig {
  display: inline;
  padding: 5px;
  font-style: italic;
  font-size: 15pt;
}

#aufgabenList li {
  border-bottom-style: ridge;
  list-style-type: disc;
  list-style: url("../images/book-icon-white.png"); /*funzt nich*/
}

#aufgabenListButtons {
  display: inline-block;
  margin-left: 260px;
}

#addAufgabe {
  margin-top: 100pt;
  margin-left: 70pt;
}
