@import url("../themes.css");

.aufgaben main {
  color: white;
  text-align: center;
}

/* webkit geht nur in chrome */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-green-color);
}
#aufgabenEntries {
  display: inline-grid;
  grid-template-columns: 450px 450px 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 700px;
  position: relative;
  width: 1400px;
  margin-top: 10pt;
}

.kastenAußen {
  margin: 15px;
  height: 200px;
  width: 400px;
}

.kastenInnen {
  font-size: 10pt;
  text-transform: uppercase;
  background-color: var(--dark-green-transparent-color);
  border: 2px solid var(--dark-green-color);
  height: 190px;
  margin-top: 10px;
}

.kastenInnenErledigt {
  font-size: 10pt;
  text-transform: uppercase;
  background-color: var(--dark-green-transparent-color);
  border: 2px solid var(--dark-green-color);
  height: 190px;
  margin-top: 10px;
  text-decoration: line-through;
  color: grey;
}

#fach {
  padding: 10pt;
  background-color: var(--dark-green-less-transparent-color);
  font-size: 16pt;
  font-weight: bold;
}
.kastenInnen #fach:hover,
.kastenInnen #todo:hover,
.kastenInnen #tageBisFällig:hover {
  background-color: var(--dark-green-transparent-color-hover-medium);
  cursor: pointer;
}

#todo {
  border-top: 2px solid var(--dark-green-color);
  padding: 10pt;
  font-size: 15pt;
  text-transform: lowercase;
}

#tageBisFällig {
  display: inline;
  padding: 10pt;
  /* font-style: italic; */
  font-size: 13pt;
}

#buttons {
  padding-top: 10pt;
  display: none;
}

.kastenInnenErledigt .update {
  color: grey;
  text-decoration: line-through;
  cursor: auto;
}

.removeAufgaben:hover,
.kastenInnen .update:hover,
.erledigt:hover {
  background-color: var(--dark-green-transparent-color-hover-medium);
  color: white;
}

.removeAufgaben,
.update,
.erledigt {
  width: 80pt;
  margin: 3pt;
  height: 25pt;
  border: 1px solid var(--dark-green-color);
}

.kastenInnenErledigt .update {
  background-color: grey;
}

#addNewButtonAufgaben {
  background-color: var(--dark-green-transparent-color);
  border: 2px solid var(--dark-green-color);
  margin-left: 0;
}

.aufgaben #aufgabenNav {
  background-color: var(--nav-selected-color);
  cursor: pointer;
  color: var(--schrift-color);
}
.kastenInnen:hover {
  border-color: var(--dark-green-transparent-color-hover-light);
}

.kastenInnen:hover #buttons {
  display: block;
}

.kastenInnenErledigt:hover #buttons {
  display: block;
}

#anzahlTodo {
  color: var(--dark-green-color);
  font-weight: bold;
  margin-left: 1060px;
  margin-top: -45px;
  height: 20px;
  width: 400px;
  font-size: 13pt;
}

#addAufgabe {
  margin-left: -370pt;
  margin-top: 0pt;
}

#snackbar {
  background-color: rgba(123, 94, 80, 0.7);
  color: white;
  width: 280pt;
  height: 30pt;
  margin-top: -75pt;
  border-radius: 1em;
  padding-top: 15pt;
  margin-left: 405pt;
  text-transform: uppercase;
  visibility: hidden;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
