@import url("../themes.css");

.fächer main {
  color: white;
  text-align: left;
}

#fächerList{
    margin: 10pt;
}

#kastenAußenFächer{
    margin: 15pt;
}

#kastenInnenFächer{
    font-size: 12pt;
    text-transform: uppercase;
    background-color: var(--dark-green-color);
}

#fachD{
    padding-left: 10pt;
    padding-top: 10pt;
    padding-bottom: 5pt;
    border-bottom: 2px solid var(--dark-green-transparent-color);
}

#dozent{
    padding-top: 5pt;
    padding-left: 10pt;
}

#email{
    padding-left: 10pt;
    padding-bottom: 5pt;
    border-bottom: 2px solid var(--dark-green-transparent-color);
}

#klausurDatum{
    padding-top: 5pt;
    padding-left: 10pt;
}

#notizD{
    padding-left: 10pt;
}

#buttonFächer{
    padding-top: 10pt;
    padding-left: 10pt;
}

#addFach{
    margin-left: 70pt;
}

.fächer #fächerNav {
  background-color: var(--nav-selected-color);
  cursor: pointer;
  color: black;
}
