@import url("../themes.css");

.fächer main {
  color: white;
  text-align: left;
}
/* webkit geht nur in chrome */
/*  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-green-color);
}
.fächer #fächerNav {
  background-color: var(--nav-selected-color);
  cursor: pointer;
  color: var(--schrift-color);
}
*/
#fächerEntries {
    display: inline-grid;
    grid-template-columns: 450px 450px;
    margin-left: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 650px;
    position: relative;
    width: 900px;
}

#fächerList {
    margin-left: 25px;
    margin-bottom: 25px;
}

.kastenAußenFächer {
    margin: 15pt;
    width: 400px;
    height: 225px;
}

.kastenInnenFächer {
    font-size: 12pt;
    text-transform: uppercase;
    background-color: var(--dark-green-transparent-color);
    border: 2px solid var(--dark-green-color);
}

#fachD {
    padding: 10pt;
    border-bottom: 2px solid var(--dark-green-color);
    font-size: 16pt;
    font-weight: bold;
    background-color: var(--dark-green-color);
}

#dozentBlock{
    padding-top: 15pt;
    padding-left: 10pt;
}

#dozentÜber{
    font-size: 14pt;
    color: var(--dark-green-color);
    font-weight: bold;
}

#dozent {
    display: inline;
}

#emailBlock{
    padding-top: 5pt;
    padding-left: 10pt;
}

#emailÜber{
    font-size: 14pt;
    color: var(--dark-green-color);
    font-weight: bold;
}

#email {
    display: inline;
}

#klausurDatumBlock{
    padding-top: 15pt;
    padding-left: 10pt;
}

#klausurDatumÜber{
    font-size: 14pt;
    color: var(--dark-green-color);
    font-weight: bold;
}

#klausurDatum {
    display: inline;
}

#notizDBlock{
    padding-top: 5pt;
    padding-left: 10pt;
    padding-bottom: 25pt;
}

#notizDÜber{
    font-size: 14pt;
    color: var(--dark-green-color);
    font-weight: bold;
}

#notizD {
    display: inline;
}

#addFach {
    margin-left: 260px;
    margin-top: -1450px;
}

#leer{
    color: var(--dark-green-color);
}

#addNewButtonFächer {
    background-color: var(--dark-green-color);
    border: 2px solid var(--dark-green-color);
}

.updateFach,
.removeFach{
    width: 80pt;
    height: 25pt;
    background-color: var(--dark-green-color);
    border: 2px solid var(--dark-green-color);
    margin-bottom: 10pt;
    margin-left: 10pt;
}

.kastenInnenFächer #fachD:hover{
    background-color: var(--dark-green-transparent-color);
    cursor: pointer;
}

.kastenInnenFächer #dozent:hover,
.kastenInnenFächer #email:hover,
.kastenInnenFächer #klausurDatum:hover,
.kastenInnenFächer #notizD:hover{
    background-color: var(--dark-green-color);
    cursor: pointer;
}

.updateFach:hover,
.removeFach:hover{
    background-color: var(--dark-green-transparent-color);
    color: white;
}

.fächer #fächerNav {
    background-color: var(--dark-green-color);
    cursor: pointer;
    color: white;
}
