@import url("../themes.css");

.fächer main {
  color: white;
  text-align: left;
}

#fächerList{
    margin-left: 25px;
    margin-bottom: 25px;
}

#kastenAußenFächer{
    margin: 15pt;
    width: 400px;
    height: 225px;
}

#kastenInnenFächer{
    font-size: 12pt;
    text-transform: uppercase;
    background-color: var(--dark-green-color);
    border: 2px solid var(--dark-green-transparent-color);
}

#fachD{
    padding-left: 10pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    border-bottom: 2px solid var(--dark-green-transparent-color);
    font-size: 16pt;
}

#dozent{
    padding-top: 5pt;
    padding-left: 10pt;
}

#email{
    padding-left: 10pt;
    padding-top: 2.5pt;
    padding-bottom: 5pt;
    border-bottom: 2px solid var(--dark-green-transparent-color);
}

#klausurDatum{
    padding-top: 5pt;
    padding-bottom: 2.5pt;
    padding-left: 10pt;
}

#notizD{
    padding-left: 10pt;
}

#buttonFächer{
    padding-top: 20pt;
    padding-left: 10pt;
    padding-bottom: 5pt;
}

#addFach{
    margin-left: 120px;
}

#addNewButtonFächer{
    background-color: var(--dark-green-color);
    border: 2px solid var(--dark-green-transparent-color);
}

.fächer #fächerNav {
  background-color: var(--nav-selected-color);
  cursor: pointer;
  color: black;
}
